[user]
	name = Anand Dubey
	email = s.anand.dubey@gmail.com

[github]
  user = sutikshan

[core]
	excludesfile = /Users/sutikshandubey/.gitignore_global

[mergetool]
	keepBackup = false

[credential]
	helper = osxkeychain
